@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans tracking-wide;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    user-select: none;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
  }
}
